body{
    margin: 0;
}
header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightgrey;
    padding: 10px;
    border-bottom: 0px solid black;
    box-shadow: 0px 0px 20px 0px blue;
    width: 100%;
    position: fixed;
}
header .title{
    color: blue;
    font-size: 150%;
}

button{
    background-color: lightblue;
    color: blue;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-size: 120%;
}
button:hover, a:hover{
    cursor: pointer;
}

#pop{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 255, 0.2);
    z-index: 500;
    width: 100%;
    height: 120%;
}

.me{
    width: 200px;
    height: 200px;
    border-radius: 2000000px;
    border: 2px solid blue;
    margin: 10px;
    transition-duration: 0.5s;
}
.me:hover{
    width: 220px;
    height: 220px;
}
.me p{
    margin-top: 80px;
}

.menu{
    background-color: white;
    width: 200px;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    padding-top: 10px;
    font-size: 170%;
    text-align: center;
    border-radius: 20px;
}
.menu a{
    text-decoration: none;
    color: black;
    width: 200px;
    text-align: center;
}
.menu button{
    background-color: rgba(255, 0, 0, 1);
    color: white;
    width: 80px;
    padding: 0;
    transition-duration: 0.5s;
}
.menu button:hover{
    box-shadow: 0px 0px 10px 0px red;
}
.menu div{
    border-radius: 10px;
}
.menu .link{ transition-duration: 0.5s; }
.menu .link:hover{
    background-color: lightblue;
    box-shadow: 0px 0px 10px 0px lightblue;
    color: white;
}
.menu .link_close:hover{
    background-color: rgba(255, 0, 0, 0.4);
}
.menu .title{
    color: green;
}
.menu hr{
    border: 0.5px solid black;
    background-color: black;
}

/* pagine */
.back, .text{
    margin-left: 20px;
    margin-right: 20px;
}
.text p{
    font-size: 120%;
}
.text nav{
    text-align: left;
    padding-left: 50px;
}
.text hr{
    width: 300px;
    background-color: blue;
    border: 1px solid blue;
}
.text h2{
    background-color: lightblue;
    color: blue;
    border-radius: 10px;
    padding: 5px;
}